
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex w-100">
        <div class="d-flex gap-3">
            <a class="navbar-brand" href="{{ path('main_home') }}" title="Go back to homepage">Home</a>
            <a class="navbar-brand" href="{{ path('wish_list') }}" title="All wishes">All Wishes</a>
            <a class="navbar-brand" href="{{ path('about_us') }}" title="About us">About Us</a>
            <a class="navbar-brand" href="{{ path('wish_create') }}" title="About us">Éditer un wish</a>
        </div>
    </div>
</nav>
