{% extends 'base.html.twig' %}

{% block body %}
    <h2>All wishes</h2>

    <ul>
        <li>Devenir riche Mother F****r !</li>
        <li>Le bien-être des personnes</li>
        <li>Utiliser Ubuntu pour envoyer une fusée dans l'espace</li>
    </ul>

{% endblock %}
