{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des wishes</h2>

    <ul>
        {% for id, title in wishes %}
            <li>
                <a href="{{ path('detail', { id: id }) }}">{{ title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title  %} All Wishes  {% endblock %}
