{% extends 'base.html.twig' %}

{% block title %}Bucket-List - All Wishes{% endblock %}

{% block body %}
    <h2>List</h2>
    <ul>
        {% for wish in wishes %}
            <li>
                <a href="{{ path('detail', {'id': wish.id}) }}">
                    {{ wish.title }}
                </a>
                <small>(publié le {{ wish.dateCreated|date('d/m/Y') }})</small>
            </li>
        {% else %}
            <li>Aucune idée trouvée.</li>
        {% endfor %}
    </ul>

{% endblock %}

