{% extends 'base.html.twig' %}

{% block title %}Bucket-List - All Wishes{% endblock %}

{% block body %}
    <h2>List</h2>
    <ul>
        {% for wish in wishes %}
            <li>
                <a href="{{ path('wish_detail', {id: wish.id}) }}"
                   title="View this wish in details">
                    {{ wish.title }} [{{ wish.category.name }}]
                </a>
                <small>(publié le {{ wish.dateCreated|date('d/m/Y') }})</small>
            </li>
        {% else %}
            <li>Aucune idée trouvée.</li>
        {% endfor %}
    </ul>

{% endblock %}

