body {
    min-height: 100vh;
}
header {
    background-color: #A5A58D;
}
header a {
    text-decoration: none;
    color: inherit;
}
.header-logo img {
    max-width: 42px;
    margin-right: 5px;
}
header nav a:hover {
    text-decoration: underline;
}
main {
    background-color: #FFF1E6;
}
footer {
    padding: 1.5rem 0;
    text-align: center;
    background-color: #EDDCD2;
}

.navbar-brand {
    margin-right: 1rem;
}
.navbar-brand:last-child {
    margin-right: 0;
}


/* Retirer la sélection de texte (surlignage avec la souris) */
ul, li {
    user-select: none; /* Empêche la sélection texte si tu veux */
}

/* Retirer les styles au focus/hover/click sur les liens dans la liste */
ul li a {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none; /* enleve le soulignement */
}

ul li a:hover,
ul li a:focus,
ul li a:active {
    background-color: transparent;
    color: inherit;
    outline: none;
    box-shadow: none;
}
